// colors
$main-note: rgb(150, 247, 150);
$new-note: rgb(241, 169, 126);
$text-color: #fff;

// fonts 
$font : 'Josefin Sans', sans-serif; 

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font;
}

.heading {
    font-size: 30px;
    padding: 1em 0em;
}

.notes-container {
    max-width: 960px;
    margin-right: auto;
    margin-left: auto;
    padding: 1em;
    min-height: 100vh;
}

.note {
    background-color: $main-note;
    border-radius: 15px;
    padding: 1rem;
    min-height: 170px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    white-space: pre-wrap;

    span {
        font-weight: 600;
    }
}

.note-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.notes-list {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.new-note {
    background: $new-note;
    border-radius: 15px;
    padding: 1rem;
    min-height: 170px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    white-space: pre-wrap;
}

textarea {
    border: none;
    background: $new-note;
    resize: none;

    &:focus {
        outline: none;
    }
}

.save-note {
    background-color: #fff;
    padding: 1em;
    border: none;
    border-radius: 15px;
    font-weight: 500;
    cursor: pointer;

    &:hover {
       box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);;
    }
}

.error-message {
    color: red;
}

.delete-icon {
    cursor: pointer;
}

.search-bar {
    display: flex;
    align-items: center;
    background: rgb(233, 233, 233);
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 1.5em;

    input {
        border: none;
        background: rgb(233, 233, 233);

        &:focus {
            outline: none;
        }
    }
}