// colors
$main-note: rgb(150, 247, 150);
$new-note: rgb(241, 169, 126);
$text-color: #fff;

// fonts 
$font : 'Josefin Sans', sans-serif; 

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font;
}

.notes-container {
    max-width: 960px;
    margin-right: auto;
    margin-left: auto;
    padding: 1em;
}

.note {
    background-color: $main-note;
    border-radius: 15px;
    padding: 1rem;
    min-height: 170px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    span {
        font-weight: 600;
    }
}

.note-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.notes-list {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
